[defaults]
inventory = hosts
remote_user = vagrant
private_key_file = .vagrant/machines/default/virtualbox/private_key
host_key_checking = False
roles_path = roles
retry_files_enabled = False

#roles/
    #frontend-deployment/
        #tasks/
            #main.yml
        #templates/
            #index.html.j2
        #files/
            #style.css
    #backend-deployment/
        #tasks/
            #main.yml
    #setup-mongodb/
        #tasks/
            #main.yml